<!DOCTYPE HTML>
<html>
<head>
    <title>Meeting Memo</title>
    <script type="text/javascript" charset="utf-8"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <header id="header">
      <ul class="actions">
      <li><a href="index" class="button">Home</a></li>
      <li><a href="summary" class="button">Summary</a></li>
      <li><a href="record" class="button">Record</a></li>
      <li><a href="upload" class="button">Upload</a></li>
      <li><a href="example" class="button">Example</a></li>
      </ul>
    </header>

</head>







  <div align="center">
    <br>
    <h1>NPR text summary example</h1>
    
  <div align="left" style="float: left; width: 48%;">
      <center>
      <h3>This example comes from NPR</h3>
      <h4>NPR description: The U.S. sends the largest Winter Olympics team ever to Pyeongchang, South Korea. The 2018 Games are being held just 50 miles from the border with North Korea. We'll set the geopolitical scene and give you five key athletes to watch.</h4>
      </center>
      
      <br><br><br><br>
      
      <h2><center>Highlight sentence</center></h2>
      <textbox class="display" name="output_sentence" id="output_sentence" maxlength="50000">
        <ul>
        
          <li><h3><font color="#339900">All eyes are on pyeongchang south korea id love to be able to defend that giant so im tied up alpine skier and gold medalist ted ligety is part of the largest uswinter olympics team ever will tell you five key athletes to watch im david greene this is the up first olympics preview special. </font></h3></li>
        
          <li><h3><font color="#339900">The winter games are being held about 50 miles from the north korean border will set the geopolitical scene as the north and south compete together you think you have stress dreams imagine nose of an olympic athlete we all have those dreams were your whole body just turned the kind of like molasses you cant run you cant do anything if i was like nick cunningham well talk about what makes him and his fellow olympians wake up in a cold sweat say with us were going to give you all the news you need for the 2018 winter games. </font></h3></li>
        
          <li><h3><font color="#339900">Coming to these olympic games at ellen looking up at the stadium on seeing the flags of these countries waving interesting lee up there is the flag of north. </font></h3></li>
        
          <li><h3><font color="#339900">In longtrack now a cluster of skaters up to 24 they take off at the same time theyre jostling for position causing pileups on the ice at the end of demolition derby fans would love this and its actually not brandnew the event was in one of their winter games 1932 in lake placid i will course im in the olympics are so much about personal stories let lets talk athletes who is the usa. </font></h3></li>
        
          <li><h3><font color="#339900">I love hearing these athletes going to make it sound so easy and then you watch them on television news events thats just insane. </font></h3></li>
        
          <li><h3><font color="#339900">But for all the great things are talking about among the american athletes this is not always team usas moment when it comes to the winter and. </font></h3></li>
        
          <li><h3><font color="#339900">And for the first time at the games north and south korean athletes are going to compete on the same team the womens hockey team. </font></h3></li>
        
        </ul>
      </textbox>

      
      <h2><center>Key words</center></h2>
      <textbox class="display" name="output_text" id="output_text" maxlength="50000">
        <center>
        <h3>
        <font color="#3333ff">#olympic </font>
        
        <font color="#3333ff">#team </font>
        
        <font color="#3333ff">#athlete </font>
        
        <font color="#3333ff">#game </font>
        
        <font color="#3333ff">#north </font>
        </h3>
        </center>
      <left>
      </left></textbox>
  </div>


  <div align="left" style="float: right; width: 48%;">
    <iframe src="https://www.npr.org/player/embed/583728226/583847599" width="100%" height="290" frameborder="0" scrolling="no" title="NPR embedded audio player"></iframe>

    <h2><center>Full transcript</center></h2>
    <center><h4>Active audio length 942.3 sec</h4></center>
      <p style="text-align:left; font-family: Helvetica; font-size:18px">
      
      [0 s]  <span style="background-color: #ccffcc">All eyes are on pyeongchang south korea id love to be able to defend that giant so im tied up alpine skier and gold medalist ted ligety is part of the largest uswinter <u><i><b>olympic</b></i></u>s <u><i><b>team</b></i></u> ever will tell you five key <u><i><b>athlete</b></i></u>s to watch im david greene this is the up first <u><i><b>olympic</b></i></u>s preview special. <br>
      
      </span> [18 s]  <span style="background-color: #ccffcc">The winter <u><i><b>game</b></i></u>s are being held about 50 miles from the <u><i><b>north</b></i></u> korean border will set the geopolitical scene as the <u><i><b>north</b></i></u> and south compete together you think you have stress dreams imagine nose of an <u><i><b>olympic</b></i></u> <u><i><b>athlete</b></i></u> we all have those dreams were your whole body just turned the kind of like molasses you cant run you cant do anything if i was like nick cunningham well talk about what makes him and his fellow olympians wake up in a cold sweat say with us were going to give you all the news you need for the 2018 winter <u><i><b>game</b></i></u>s. <br>
      
      </span> [53 s]  . <br>
      
       [61 s]  Okay so the stage is set for the 2018 winter <u><i><b>olympic</b></i></u>s. <br>
      
       [66 s]  Chun chun south korea and that is where we find my cohost. <br>
      
       [69 s]  Melissa black melissa i know nothing about pyeongchang south korea what whats it like there. <br>
      
       [74 s]  In a word david it is cold its actually really cold last time i checked with the wind chill it is 10 im standing right now outside the <u><i><b>olympic</b></i></u>s. <br>
      
       [83 s]  Stadium this is where the opening and closing ceremonies are going to be held and theyre going to be handing out. <br>
      
       [89 s]  Heated seat cushions caps blankets hand warmers because. <br>
      
       [93 s]  Stadium has no roof it has no. <br>
      
       [95 s]  Central heating. <br>
      
       [97 s]  There are more than 90 countries sending <u><i><b>athlete</b></i></u>s about 2900 <u><i><b>athlete</b></i></u>s. <br>
      
       [102 s]  <span style="background-color: #ccffcc">Coming to these <u><i><b>olympic</b></i></u> <u><i><b>game</b></i></u>s at ellen looking up at the stadium on seeing the flags of these countries waving interesting lee up there is the flag of <u><i><b>north</b></i></u>. <br>
      
      </span> [111 s]  Korea typically in south korea its illegal to show the <u><i><b>north</b></i></u> korean flag but because. <br>
      
       [116 s]  Is it supposed to be in <u><i><b>olympic</b></i></u>s of unity between <u><i><b>north</b></i></u> and south. <br>
      
       [119 s]  That flag is flying and well hear more about that a little later on. <br>
      
       [122 s]  I am going here in the cold by and hear sports cars on it. <br>
      
       [126 s]  Tom gold and we have stepped out of the window little bit but we can see how i am glad this is winter <u><i><b>olympic</b></i></u>s winter <u><i><b>olympic</b></i></u>s. <br>
      
       [139 s]  Will get us going on the events i mean theres some new events that are being added to these <u><i><b>game</b></i></u>s right. <br>
      
       [144 s]  Ps4 new events ill give you a couple actually include the big air in snowboarding or competitors take off from this huge ramp do tricks and spins and flips. <br>
      
       [155 s]  It is a real you and event. <br>
      
       [158 s]  Then theres the mass start in long track speed skating its the frenetic highenergy of short track speed skating. <br>
      
       [166 s]  <span style="background-color: #ccffcc">In longtrack now a cluster of skaters up to 24 they take off at the same time theyre jostling for position causing pileups on the ice at the end of demolition derby fans would love this and its actually not brandnew the event was in one of their winter <u><i><b>game</b></i></u>s 1932 in lake placid i will course im in the <u><i><b>olympic</b></i></u>s are so much about personal stories let lets talk <u><i><b>athlete</b></i></u>s who is the usa. <br>
      
      </span> [190 s]  Beyonces sending a record 242 <u><i><b>athlete</b></i></u>. <br>
      
       [194 s]  2ds <u><i><b>game</b></i></u>s thats the largest roster for any country ever in any winter <u><i><b>game</b></i></u>s. <br>
      
       [198 s]  And a lot of them are veteran olympians and number of superstars familiar names and why dont we start with alpine skier. <br>
      
       [205 s]  Lindsey vonn already a twotime medalist in previous <u><i><b>olympic</b></i></u>s cheese favored to win gold. <br>
      
       [211 s]  In womens downhill this will be her fourth. <br>
      
       [213 s]  Olympic <u><i><b>game</b></i></u>s and she is just on a tear david she just want her 81st. <br>
      
       [218 s]  World cup race shes pretty amazing and looking to do really well here in pyeongchang. <br>
      
       [223 s]  Tell me if youre in any any veteran. <br>
      
       [224 s]  I do david mister gs mrgiant slalom 34 year old alpine skier ted ligety. <br>
      
       [231 s]  A twotime gold medalist he won his first in 2006 he also won in 2014 hes coming off to injuryfilled seasons but hes working his way back hes currently ranked. <br>
      
       [242 s]  States in the world cup standings in giant slalom and he says hes got a few good years left into his late 30s he ho. <br>
      
       [249 s]  I had a chance to speak with ted ligety about his technique and what makes him so good. <br>
      
       [254 s]  I get big ankles i lay over really hard so. <br>
      
       [257 s]  If you look at a picture of me and my hips normally on the ground and. <br>
      
       [260 s]  Im really far over compared to a lot of guys and im not comes from. <br>
      
       [264 s]  You know how i grew up free skiing at home. <br>
      
       [265 s]  <span style="background-color: #ccffcc">I love hearing these <u><i><b>athlete</b></i></u>s going to make it sound so easy and then you watch them on television news events thats just insane. <br>
      
      </span> [272 s]  So those are veterans who were some of the newer names that we just havent heard of. <br>
      
       [276 s]  Okay well if you dont know her name already i think youre going to know what pretty soon mommy by any. <br>
      
       [281 s]  Who does short track speed skating she just turned 18 born in ghana shes lived in the us since she was 5 shes made history already shes the first african american woman to make <u><i><b>team</b></i></u> usa short track speed skating <u><i><b>team</b></i></u> she is. <br>
      
       [294 s]  Joyful and exuberant and just a real blast to watch and we would be remiss david not to mention the great mikaela shiffrin at the last winter <u><i><b>olympic</b></i></u>s she became the youngest <u><i><b>olympic</b></i></u> slalom gold medalist at 18 years old now shes hoping to become the first year repeat as <u><i><b>olympic</b></i></u> slalom champion a former coach says she trains harder by far than any other skier in the world she is constantly on the slopes. <br>
      
       [321 s]  Cheap young song is considered. <br>
      
       [323 s]  Clear moment really. <br>
      
       [324 s]  Then theres nathan chen in in male figure skating a 18 years old hes position himself among the favorites to win gold in that event. <br>
      
       [332 s]  He is a jumping machine last month at the us figure skating championships i watched as he nailed. <br>
      
       [338 s]  Five quadruple jumps in his championshipwinning long program hes a great skater he could do great things. <br>
      
       [346 s]  <span style="background-color: #ccffcc">But for all the great things are talking about among the american <u><i><b>athlete</b></i></u>s this is not always <u><i><b>team</b></i></u> usas moment when it comes to the winter and. <br>
      
      </span> [351 s]  Oh that definitely not i mean there are a lot of good countries that will probably keep <u><i><b>team</b></i></u> usa from winning the overall medal count i mean. <br>
      
       [360 s]  Countries like germany which is expected to do very well in the sliding sports of bobsled and skeleton luge also in ski jumping and then norway a led by <u><i><b>athlete</b></i></u>s in biathlon cross country skiing theres the legendary crosscountry skier. <br>
      
       [376 s]  Margaret bjorgan from norway shes 110 winter <u><i><b>olympic</b></i></u> medals six of them gold over the last four <u><i><b>game</b></i></u>. <br>
      
       [382 s]  When i guess the time we have to spend a few minutes talking about one of the biggest stories heading into the <u><i><b>olympic</b></i></u>s its the doping violations against russia and russia the country that always makes noise at the winter <u><i><b>olympic</b></i></u>. <br>
      
       [392 s]  Absolutely traditionally a winter power. <br>
      
       [396 s]  But this time russia will be muted because of the massive doping scandal you meant. <br>
      
       [400 s]  The russian <u><i><b>olympic</b></i></u> committee is banned from these <u><i><b>game</b></i></u>s the shorthand people are using is that russia is bad. <br>
      
       [407 s]  But the international <u><i><b>olympic</b></i></u> committee decided to let some individual russian <u><i><b>athlete</b></i></u>s compete if they were identified as being clingy. <br>
      
       [414 s]  So the ioc invited thats the term it likes to use invited a hundred 69 russian <u><i><b>athlete</b></i></u>s who reportedly went through rigorous drug. <br>
      
       [424 s]  Much more rigorous than <u><i><b>athlete</b></i></u>s from other countries. <br>
      
       [427 s]  But even this week there was a possibility that number could increase. <br>
      
       [431 s]  So its a bit of a mess and its important to note this is the second straight <u><i><b>olympic</b></i></u>s. <br>
      
       [437 s]  Where in the final run up to the opening ceremony theres uncertainty about the russian <u><i><b>team</b></i></u> because of doping. <br>
      
       [443 s]  And antidoping advocates and some non russian <u><i><b>athlete</b></i></u>s i talk to. <br>
      
       [448 s]  They say this is sending confusing messages to clean <u><i><b>athlete</b></i></u>s and to <u><i><b>olympic</b></i></u> fan. <br>
      
       [453 s]  And its making a mockery of the socalled fight against dope. <br>
      
       [457 s]  It sounds like this might be a ban in name only is that fair. <br>
      
       [461 s]  I think thats thats a really good point that you know critics say thats the absurdity of this socalled punishment. <br>
      
       [466 s]  For alleged widespread statesponsored doping which russian officials all the way up to vladimir putin continue to deny 169 <u><i><b>athlete</b></i></u>s is almost as many as russia sent to the 2010 <u><i><b>olympic</b></i></u>s in vancouver when the country wasnt even being sanctioned for doping. <br>
      
       [482 s]  Spell the <u><i><b>athlete</b></i></u>s have to follow a codeofconduct here and theyre supposed to be neutral no waving the russian flag no playing the national anthem no traditional russian uniforms for <u><i><b>athlete</b></i></u>s but the uniforms will say <u><i><b>olympic</b></i></u> <u><i><b>athlete</b></i></u>s from russia. <br>
      
       [496 s]  So everyone else are russian and if not neutral. <br>
      
       [499 s]  The ioc said a blanket ban of everyone that would be unfair to clean russian <u><i><b>athlete</b></i></u>s but as you say many wonder what exactly is the punisher. <br>
      
       [507 s]  Tom goldman npr sports correspondent im going to let you go now i just hope you stay warm and have have some fun coming these <u><i><b>game</b></i></u>s thanks. <br>
      
       [514 s]  Thanks david im listen to that the political backdrop of these <u><i><b>olympic</b></i></u>s which is extraordinary. <br>
      
       [522 s]  And fascinating where <u><i><b>north</b></i></u> korea is sending 22 <u><i><b>athlete</b></i></u>. <br>
      
       [526 s]  As part of an agreement that was reached by <u><i><b>north</b></i></u> and south korea other <u><i><b>athlete</b></i></u>s are going to march together in the opening ceremony. <br>
      
       [533 s]  <span style="background-color: #ccffcc">And for the first time at the <u><i><b>game</b></i></u>s <u><i><b>north</b></i></u> and south korean <u><i><b>athlete</b></i></u>s are going to compete on the same <u><i><b>team</b></i></u> the womens hockey <u><i><b>team</b></i></u>. <br>
      
      </span> [539 s]  When the players met they took a group photo and they shouted we are one nprs soul correspond elise who has been spending a lot of time covering the tensions between <u><i><b>north</b></i></u> and south korea and i want to bring her in here highly. <br>
      
       [556 s]  Hey there the walkthrough. <br>
      
       [558 s]  Disagreement at and what it actually mean. <br>
      
       [560 s]  So this one womens hockey <u><i><b>team</b></i></u>. <br>
      
       [562 s]  It will compete as korea not <u><i><b>north</b></i></u> or south. <br>
      
       [565 s]  Under a neutral unification flag which is why with a sky blue outline of the entire peninsula on it. <br>
      
       [572 s]  And theres an old folk song thats well known to all koreans across the peninsula called arirang that will serve as the unified <u><i><b>team</b></i></u>s anthem. <br>
      
       [581 s]  And the other <u><i><b>north</b></i></u> korean competitor so theres 22 <u><i><b>north</b></i></u> korean <u><i><b>athlete</b></i></u>s taking part in total. <br>
      
       [587 s]  North korean skiers and skaters they will actually just compete under their own <u><i><b>north</b></i></u> korean flag. <br>
      
       [593 s]  But given everything that has been happening i mean on the peninsula man in the world really with attentions with the united states and elsewhere that take hear something like we are one and two here patriotic folk songs that all curry can get behind it i mean it is just as big a deal as it seems. <br>
      
       [609 s]  Well the two koreas have come a long way in a short amount of time because in december so just two months ago they hadnt been talking for 2 years. <br>
      
       [618 s]  So this is a big deal in that coming together for the <u><i><b>olympic</b></i></u> <u><i><b>game</b></i></u>s is really ease tensions. <br>
      
       [623 s]  On the peninsula. <br>
      
       [624 s]  But we should mention david there has been some backlash in the south. <br>
      
       [628 s]  Some of the population remains quite distrustful of kim jong grillin and the regime for good reason course. <br>
      
       [634 s]  Conservatives in korea have been demonstrating against the <u><i><b>north</b></i></u> and the south. <br>
      
       [638 s]  Unity they criticized these <u><i><b>olympic</b></i></u>s as becoming the pyongyang <u><i><b>olympic</b></i></u>s instead of the pyeongchang <u><i><b>olympic</b></i></u>s so moon jaein the president. <br>
      
       [647 s]  Taking some heat for that. <br>
      
       [649 s]  At least you is npr so corresponding at least thanks appreciated. <br>
      
       [653 s]  Buy more supplies before i wrap up i know i mean youve covered <u><i><b>olympic</b></i></u>s before youve dug into <u><i><b>team</b></i></u> usa. <br>
      
       [663 s]  Ahead of these <u><i><b>game</b></i></u>s i mean what fun little details about these <u><i><b>game</b></i></u>s can you leave us. <br>
      
       [668 s]  Okay one fun fact here <u><i><b>team</b></i></u> usa. <br>
      
       [671 s]  Actually has 7 sets of siblings at these <u><i><b>game</b></i></u>s and watch. <br>
      
       [674 s]  7 groups of state line is jeopardy music. <br>
      
       [677 s]  Three sibling pairs on the us cross country <u><i><b>team</b></i></u> alone at school also ice dancers maia and alex shibutani theyre known as the ship at sims. <br>
      
       [686 s]  And in curling you have becca and matt hamilton the two of them are going to get there. <br>
      
       [691 s]  Together in a new event its the mixed doubles event and lets listen to them talking about. <br>
      
       [696 s]  What its like working together. <br>
      
       [698 s]  Hes pretty involved in the crowd and hes got a puppy personality. <br>
      
       [702 s]  But im kind of the calm. <br>
      
       [704 s]  Macomb out there that reels and back and we need to see each other with absolute honesty. <br>
      
       [711 s]  What were seeing i love. <br>
      
       [713 s]  Yeah. <br>
      
       [714 s]  Why dont one thing that that you talk about being curious about is if theres anything in the world that actually makes these <u><i><b>athlete</b></i></u>s worried because they seem so put together so well trained so ready for this moment of the worry about anything. <br>
      
       [725 s]  This is her fed up session of mine i dont know why im just obsessed with anxiety dreams and these are people who are competing in this ultra highstress environment right on ice or snow theyre going in some sports 90 miles an hour in alpine skiing and bobsled and luge. <br>
      
       [740 s]  So i asked them what their anxiety dreams are theres been different dreams were like you know guys wont show up with her speed suits or like my helmet. <br>
      
       [748 s]  I wont have it you know youll get to the top of the track and your runners will be on backwards. <br>
      
       [753 s]  Yeah that one scares you when you wake up nick cunningham hes about said pilots forgetting their equipment. <br>
      
       [759 s]  Forget it weird for a common theme of susan dunklee is an <u><i><b>athlete</b></i></u> i meant shes a bi<u><i><b>athlete</b></i></u> thats this word that combines two disciplines. <br>
      
       [767 s]  Cross country skiing in a ski with a rifle on their back then they shoot at targets cures for anxiety. <br>
      
       [771 s]  What are the most common ones for my <u><i><b>team</b></i></u> is that we talked about as well have dreams that will. <br>
      
       [776 s]  Truck and starting line and were not wearing a wreck. <br>
      
       [778 s]  What should you know the moment. <br>
      
       [781 s]  Extreme stress. <br>
      
       [783 s]  Whats up is alpine skier tommy bs. <br>
      
       [785 s]  I have had some dreams that ive woken up in the sweats from and thats. <br>
      
       [789 s]  Going off of a jump. <br>
      
       [791 s]  And then just drifting in the air. <br>
      
       [793 s]  And not knowing when youre going to hit but you knew that youre going to hit hard and thats like. <br>
      
       [797 s]  Fear of mine. <br>
      
       [798 s]  For sure thats a painful dream but the flip side of that in a way this isnt really an anxiety came to serve a nice dream this came from ashley caldwell she competes in aerial skiing they do somersaults and flips off of shell go maybe 60 feet up in the air. <br>
      
       [812 s]  . <br>
      
       [813 s]  I got off a jump and i start flipping and twisting and i just never come down. <br>
      
       [817 s]  I just keep flipping into things thats like a fun one you know you just keep going i did like 17 million backflips in my dream. <br>
      
       [824 s]  I just wish tonight that happened to me on the hill and i wouldnt land. <br>
      
       [827 s]  . <br>
      
       [828 s]  Space she just wants to keep going flipping and twisting never return to earth. <br>
      
       [835 s]  If i go ahead another ariels gear mac bohonnon her <u><i><b>team</b></i></u>mate whos actually has almost the exact same anxiety drink but his. <br>
      
       [841 s]  Takes place in outer space so hes flipping and flipping and flipping and he just did going into oblivion. <br>
      
       [847 s]  Thats amazing. <br>
      
       [848 s]  That you must love covering. <br>
      
       [850 s]  I kind of deal can you tell. <br>
      
       [851 s]  All right that is a a teeth chattering preview of the <u><i><b>olympic</b></i></u>s the up first <u><i><b>olympic</b></i></u>s preview special on david green top headlines help you get ready for your day from scratch west wherever you listen to podcasts you can read us and review us on a podcast for that you can find nprs morning edition on your npr station just to go to stationsnprorg and you can find. <br>
      
       [882 s]  More avengers <u><i><b>olympic</b></i></u>s coverage on the npr one app just go to the explore page and look for the torch by the best stories about the <u><i><b>game</b></i></u>s the people the politics of the <u><i><b>olympic</b></i></u>s with new content that will be added every single day. <br>
      
       [898 s]  . <br>
      
       [904 s]  Some people like to look at the world through rosecolored glasses i prefer the lens of the social sciences theres more than one of you in there almost literally unimaginable hidden brain each week we ask the questions what does it mean to be human and why do we do what we do. <br>
      
       [922 s]  Listen long as we find the answers. <br>
      
       [924 s]  Support for npr and the following message come from hinckley allen. <br>
      
       [928 s]  A law firm that provides practical advice from attorneys who are accessible responsive and wellversed in your business and industry. <br>
      
       [936 s]  So you get a better value for your legal in bessemer. <br>
      
       [939 s]  Learn more at hinckley islandcom value. <br>
      
       . <br>
      
      </p>
  </div>



</div></body></html>