<!DOCTYPE HTML>
<html>
<head>
    <title>Meeting Memo</title>
    <script type="text/javascript" charset="utf-8"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <header id="header">
      <ul class="actions">
      <li><a href="index" class="button">Home</a></li>
      <li><a href="summary" class="button">Summary</a></li>
      <li><a href="record" class="button">Record</a></li>
      <li><a href="upload" class="button">Upload</a></li>
      <li><a href="example" class="button">Example</a></li>
      </ul>
    </header>

</head>



<body>
  <div align="center">
    <br>
    <h1>Audio to text summary</h1>
    <div class="form-container jumbotron" id-"sum-section">
      <form class="form-inline well" id="mytext" method = "POST" action="\summary">
        <div align="left" style="float: left; width: 50%;">
          <h3>Choose an uploaded file to summarize</h3> 
          <select name="TranslateFile" value="TranslateFile" style="width:200px;" >
            {% for tmpfile in tmpfiles %}
              <option value="{{ tmpfile }}">{{ tmpfile }}</option>
            {% endfor %}
          </select>
        </div>
        <!-- <audio id="player" controls></audio>
        <script>
            var player=document.getElementById('player');
            var sourceMp3=document.getElementById('mytext');
            sourceMp3.src= URL.createObjectURL('speech.wav');

            player.load();
            player.play(sourceMp3);
        </script> -->
        <div align="left" style="float: right; width: 50%;">
          <h3> Choose your percentage of highlights: <input type="number" name="Nsentences" value="20" min="1" max="99" style="width:50px;display: inline;"></h3>
          <h3> Choose your number of keywords: <input type="number" name="Nkeywords" value="5" min="1" max="100" style="width:50px;display: inline;"></h3>
        </div>
        <div align="center" style="float: left; width: 100%;">
          <input type="submit" value="Translate">
          <hr style=" height:12px;border:0;box-shadow:inset 0 12px 12px -12px rgba(0,102,204,0.5);">
        </div>
      </form>
    </div>
  </div>


  <div align="left" style="float: left; width: 48%;">
      
      <h2><center>Highlight sentence</center></h2>
      <textbox class="display" name="output_sentence" id="output_sentence" maxlength="50000">
        <ul>
        {% for sentence in output_sentence %}
          <li><h3><font color='#339900'>{{ sentence }} </font></h3></li>
        {% endfor %}
        </ul>
      </textbox>

      
      <h2><center>Key words</center></h2>
      <textbox class="display" name="output_text" id="output_text" maxlength="50000">
        <center>
        <h3>{% for keywords in output_text %}
        <font color='#3333ff'>#{{ keywords }} </font>
        {% endfor %}</h3>
        </center>
      <left>
      </textbox>
  </div>




<div align="left" style="float: right; width: 48%;">
    <h2><center>Full transcript</center></h2>
    <center><h4>Active audio length {{ audio_length }}</h4></center>
      <p style="text-align:left; font-family: Helvetica; font-size:18px">
      {% for sentence in original_text %}
      {{ sentence|safe }} <br>
      {% endfor %}
      </p>
  </div>
</body>


</html>
