<!DOCTYPE HTML>
<html>
<head>
    <title>Meeting Memo</title>
    <script type="text/javascript" charset="utf-8"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <header id="header">
      <ul class="actions">
      <li><a href="index" class="button">Home</a></li>
      <li><a href="summary" class="button">Summary</a></li>
      <li><a href="record" class="button">Record</a></li>
      <li><a href="upload" class="button">Upload</a></li>
      <li><a href="example" class="button">Example</a></li>
      </ul>
    </header>

</head>



<body>
  <div align="center">
    <br>
    <h1>Audio to text summary</h1>
    
  <div align="left" style="float: left; width: 48%;">
      <center>
      <h3>Click the Record/Upload button above, if you want another file</h3>
      </center>
      
      <br><br><br><br>
      
      <h2><center>Highlight sentence</center></h2>
      <textbox class="display" name="output_sentence" id="output_sentence" maxlength="50000">
        <ul>
        {% for sentence in output_sentence %}
          <li><h3><font color='#339900'>{{ sentence }} </font></h3></li>
        {% endfor %}
        </ul>
      </textbox>

      
      <h2><center>Key words</center></h2>
      <textbox class="display" name="output_text" id="output_text" maxlength="50000">
        <center>
        <h3>{% for keywords in output_text %}
        <font color='#3333ff'>#{{ keywords }} </font>
        {% endfor %}</h3>
        </center>
      <left>
      </textbox>
  </div>

  <div align="left" style="float: right; width: 48%;">
    <div class="form-container jumbotron" id-"sum-section">
      <form class="form-inline well" id="mytext" method = "POST" action="\summary">
      <h3>Please choose a file to summarize</h3>
      <select name="TranslateFile" value="TranslateFile" style="width:200px;">
        {% for tmpfile in tmpfiles %}
          <option value="{{ tmpfile }}">{{ tmpfile }}</option>
        {% endfor %}
      </select>
      
<!--       <audio id="player" controls></audio>
      <script>
        function loadSong(songNo) {
          var player=document.getElementById('player');
          var sourceMp3=document.getElementById('mytext');
          sourceMp3.src= songNo;

          player.load();
          player.play();
        }
      </script> -->

<!--       Number of keywords:
      <select name="Nkeywords" value="Nkeywords" style="width:200px;">
          <option value=3>3</option>
          <option value=5>5</option>
          <option value=7>7</option>
      </select>
      Fraction of highlights:
      <select name="Nsentences" value="Nsentences" style="width:200px;">
          <option value=0.1>0.1</option>
          <option value=0.2>0.2</option>
          <option value=0.3>0.3</option>
      </select> -->
      <br>
      <input type="submit" value="Translate"></button>
      </form>
      <!-- <form id="mytext" method = "POST" action = "#" >
        <input type="submit" name="Translate" value="Translate Live">
        <input type="submit" name="TestSample" value="TestSample">
      </form> -->
    </div>

    <h2><center>Full transcript</center></h2>
    <center><h4>Active audio length {{ audio_length }}</h4></center>
      <p style="text-align:left; font-family: Helvetica; font-size:18px">
      {% for sentence in original_text %}
      {{ sentence|safe }}. <br>
      {% endfor %}
      </p>
  </div>
</body>


</html>
